@using Repositories.Helpers;
@inject Repositories.Interfaces.IRoleRepository repository
@inject Repositories.Interfaces.IUserRepository user_repo
@inject Repositories.Interfaces.ITeamRepository team_repo

@model Models.SearchModel.TeamSearch

@{
	ViewData["Title"] = "Екипи";
}

<body class="bg-orange">
    <div class="row py-5 px-4">
        <div class="col-md-10 mx-auto" id="view">
            <table class="table rounded-pill filter-heading">
                <thead>
                    <tr>
                        <form asp-action="Search" asp-controller="Team" method="get">
                        <th scope="col" style="padding-bottom: 20px;">
                            <input asp-for="Name" class="form-control dark-heading rounded-pill" placeholder="Въведете име на екипа..." />
                        </th>
                        <th scope="col" style="padding-bottom: 20px;">
                            <input asp-for="TeamLeadNames" class="form-control dark-heading rounded-pill" placeholder="Въведете лидер на проекта..." />
                        </th>
                        <th scope="col">
                            <button type="submit" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-search" viewBox="0 0 16 16" style="margin-bottom: 15px;">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </th>
                        <th scope="col">
                            <button asp-controller="Team" asp-action="Create" class="btn">

                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus-square-fill" viewBox="0 0 16 16" style="margin-bottom: 15px;">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                </svg>

                            </button>
                        </th>
                        </form>
                    </tr>
                </thead>
            </table>
            <table class="table rounded-pill result-table">
                <tbody>
                    @foreach (var team in Model.Results)
                    {
                        <tr>
                            <td class="col-5" style="padding-left: 30px;">
                                <div class="bg-white rounded-pill p-2 text-center">
                                    <h5 class="dark-heading">@team.Name</h5>
                                </div>
                            </td>
                            @if (team.TeamLeader != null)
                            {
                                <td class="col-5">
                                    <div class="bg-white rounded-pill p-2 text-center">
                                        <h5 class="dark-heading">@(team.TeamLeader.FirstName + " " + team.TeamLeader.LastName)</h5>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td class="col-5">
                                    <div class="bg-white rounded-pill p-2 text-center">
                                        <h5 class="dark-heading">No Leader</h5>
                                    </div>
                                </td>
                            }
                            @if (Logged.CEOAuth())
                            {
                                <td class="col-2 align-items-center text-center">
                                    <div>
                                        <a asp-controller="Team" asp-action="Delete" asp-route-id="@team.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="#303C6C" class="bi bi-backspace-fill edit-delete" viewBox="0 0 16 16">
                                                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z" />
                                            </svg>
                                        </a>
                                        <a asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#303C6C" class="bi bi-check-circle-fill edit-delete" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                        </a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
