@{
	ViewData["Title"] = "Начална страница";
}


<div class="bg-white">
	<div class="jumbotron bg-banner" style=" margin: 0px !important">
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-5 text-wrap align-self-start" style="padding-bottom: 150px;">
				<div style="height: 50vmin;">
					<div style="margin-left: 60px">
						<div style="padding-bottom: 120px"></div>
						<h5 class="dark-heading">Управлението на отпуски и екипи вече е леко като</h5>
						<h1 class="dark-heading" id="allCaps">полет в космоса</h1>
						<div class="dark-heading" style="margin: 0px;">
							<h6>С нашата система можеш да регистрираш служителите си, да им</h6>
							<h6>назначаваш роли и екипи, както и да одобряваш техните отпуски,</h6>
							<h6>а те ще имат достъп само до собствените си данни.</h6>
						</div>
						<div class="row" style="margin-top: 40px;">
							<a asp-action="Login" asp-controller="User">
								<div class="col-6">
									<button type="button" class="btn dark-button">Вход в системата</button>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron bg-lightblue" style="height: 2vmin; margin: 0px !important">
	</div>
</div>
