.bg-banner {
	background: url('../images/banner.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.dark-heading {
	color: #303C6C;
	font-family: Montserrat;
	margin: 0px;
}

#allCaps {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 51px;
	margin-bottom: 12px;
}

.dark-button {
	color: #FFCC48;
	background-color: #303C6C;
	font-weight: bold;
	font-family: Montserrat;
	font-size: 19px !important;
}

	.dark-button:hover {
		background-color: #F4976C;
		color: #D1FDFE;
	}

.reverse-button {
	color: #D1FDFE;
	background-color: #F4976C;
	font-weight: normal;
	font-family: Montserrat;
	font-size: 19px !important;
}

	.reverse-button:hover {
		background-color: #303C6C;
		color: #FFCC48;
	}

.bg-lightblue {
	background-color: #B4DFE5;
}

.bg-orange {
	background-color: #F4976C;
}

.b {
	font-weight: bold;
}

nav {
	font-family: Montserrat;
}

#register {
	background: linear-gradient(0deg, #303C6C, #303C6C) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #303C6C;
	font-family: Montserrat;
	font-weight: bold;
	margin-top: 30px;
	text-decoration: underline;
}

	#register:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #F4976C;
		text-decoration: none;
	}

.faded-text {
	color: #707070;
}

	.faded-text :hover {
		color: #F4976C;
	}

.faded-link {
	color: #707070;
	text-decoration: underline;
	font-weight: bold;
}

#teams {
	display: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #303C6C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(48,60,108,0.9);
	outline: 0 none;
}

.input:focus {
	border-color: #303C6C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(48,60,108,0.9);
	outline: 0 none;
}

.form-control:focus {
	border-color: #303C6C;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(48,60,108,0.9);
	outline: 0 none;
}

#moreTeams{
	font-size: 15px !important;
}

input::-webkit-file-upload-button {
	background-color: #303C6C;
	color: white;
	border: 2px solid #303C6C;
	border-radius: 4px;
	height: 50px;
	width: 120px;
	font-family: Montserrat;
}

	input::-webkit-file-upload-button:hover {
		background-color: #F4976C;
		color: #303C6C;
		border: 2px solid #303C6C;
		cursor: pointer;
	}

#file{
	display: none;
}

input[type=checkbox] {
	-ms-transform: scale(1.6); /* IE */
	-moz-transform: scale(1.6); /* FF */
	-webkit-transform: scale(1.6); /* Safari and Chrome */
	-o-transform: scale(1.6); /* Opera */
	padding: 10px;
	border-color: #303C6C;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #303C6C !important;
	border-color: #303C6C;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #303C6C, 0 0 0 0.2rem rgba(0, 0, 255, 0.25);
	border-color: #303C6C;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 1px #303C6C, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
	border-color: #303C6C;
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
	background-color: #303C6C;
	border-color: #303C6C;
}

#halfDay{
	font-family: Montserrat;
	font-size: 17px;
	margin-left: 7px;
}

.normal-text {
	color: #303C6C;
	font-family: Montserrat;
}

.filter-heading {
	background-color: #303C6C;
	border-bottom: 50px;
}

.table thead th{
	border-bottom: none !important;
}

.table td, .table th{
	border-top: none !important;
}

.result-table {
	background-color: #D5DBF2;
}

svg.edit-delete {
	width: 40px !important;
	height: 40px !important;
	padding: 5px;
}

	svg.edit-delete :hover {
		fill: #FFCC48;
		cursor: pointer;
	}

.rounded-pill {
	border-radius: 50px !important;
}
/*end of new style*/

.resize {
	font-size: 1.6vw;
}

.banner-heading {
	font-family: Bahnschrift;
}


.ffb {
	font-family: Bahnschrift;
}

.footer {
	background-color: #C2C2C2;
	color: white;
}

.normal-heading {
	color: #006A7A;
	font-weight: bold;
}

.small-padding {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.link {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 100%;
}

	.link:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

#showMore {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #006A7A;
	font-family: Bahnschrift;
	font-weight: bold;
}

	#showMore:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

.recent {
	list-style-position: inside;
	padding-left: 5px;
	font-size: 20px;
}

	.recent ::marker {
		color: #006A7A;
	}

li.menu-item:not(:last-child) {
	margin-bottom: 15px;
}

.recent-link {
	color: inherit;
	text-decoration: none;
	padding-bottom: 5px;
}

.recent-link {
	background: linear-gradient( to right, rgba(0, 106, 122, 1), rgba(100, 200, 200, 1) ), linear-gradient( to right, rgba(255, 204, 72, 1), rgba(255, 204, 72, 1), rgba(255, 204, 72, 1) );
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

	.recent-link:hover {
		padding-bottom: 5px;
		background-size: 0 3px, 100% 3px;
		text-decoration: none;
		color: inherit;
	}

div.lower {
	margin-top: 100px;
}

div.register-form-bg {
	background-color: white;
	padding: 50px;
}

.form-check {
	padding-right: 0px;
}

a.user {
	color: #006A7A;
	text-decoration: none;
}

	a.user:hover {
		text-decoration: underline;
		color: #FFCC48;
	}

.profile-head {
	transform: translateY(5rem)
}

.cover {
	background-image: url(/images/profileBanner.png);
	background-size: cover;
	background-repeat: no-repeat
}

body.custom {
	background: #006A7A;
	min-height: 100vh;
	overflow-x: hidden
}

.custom-text {
	font-family: Bahnschrift;
	color: #006A7A;
}

svg.edit-delete {
	width: 30px;
	height: 30px;
	padding: 5px;
}

	svg.edit-delete :hover {
		fill: #FFCC48;
		cursor: pointer;
	}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button.heart {
	background-color: white;
	border: none;
}

.bi-heart-fill:hover {
	fill: #408780;
}

.terms-secondary-heading {
	margin-bottom: 15px;
	text-indent: 20px;
	font-family: Bahnschrift;
	font-weight: bold;
}

.font-weight-heading {
	font-weight: bold;
}

.terms-normal-text {
	font-family: Bahnschrift;
	font-size: 16px;
	text-indent: 20px;
	line-height: 25px;
}

.terms-column-text {
	font-family: Bahnschrift;
	font-size: 16px;
	line-height: 25px;
}

a.seen-link {
	color: darkgrey;
	text-decoration: none;
	padding-bottom: 5px;
}
