.bg-banner {
	background: url('../images/banner.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.dark-heading {
	color: #303C6C;
	font-family: Montserrat;
	margin: 0px;
}

#allCaps{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 51px;
	margin-bottom: 12px;
}

.dark-button {
	color: #FFCC48;
	background-color: #303C6C;
	font-weight: bold;
	font-family: Montserrat;
	font-size: 19px !important;
}

.bg-lightblue {
	background-color: #B4DFE5;
}

nav{
	font-family: Montserrat;
}

.resize{
	font-size: 1.6vw;
}

.banner-heading {
	font-family: Bahnschrift;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #013840;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 106, 122, 0.9);
	outline: 0 none;
}

.input:focus {
	border-color: #013840;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 106, 122, 0.9);
	outline: 0 none;
}

.form-control:focus {
	border-color: #013840;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 106, 122, 0.9);
	outline: 0 none;
}


.ffb {
	font-family: Bahnschrift;
}

.footer {
	background-color: #C2C2C2;
	color: white;
}

.normal-heading {
	color: #006A7A;
	font-weight: bold;
}

.normal-text {
	color: #006A7A;
	font-family: Bahnschrift;
}

.small-padding {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.link {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 350ms;
	--bg-h: 100%;
}

	.link:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

#showMore {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #006A7A;
	font-family: Bahnschrift;
	font-weight: bold;
}

	#showMore:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

.recent {
	list-style-position: inside;
	padding-left: 5px;
	font-size: 20px;
}

	.recent ::marker {
		color: #006A7A;
	}

li.menu-item:not(:last-child) {
	margin-bottom: 15px;
}

.recent-link {
	color: inherit;
	text-decoration: none;
	padding-bottom: 5px;
}

.recent-link {
	background: linear-gradient( to right, rgba(0, 106, 122, 1), rgba(100, 200, 200, 1) ), linear-gradient( to right, rgba(255, 204, 72, 1), rgba(255, 204, 72, 1), rgba(255, 204, 72, 1) );
	background-size: 100% 3px, 0 3px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

	.recent-link:hover {
		padding-bottom: 5px;
		background-size: 0 3px, 100% 3px;
		text-decoration: none;
		color: inherit;
	}

div.lower {
	margin-top: 100px;
}

.dark-body {
	background-color: #006A7A;
}

div.register-form-bg {
	background-color: white;
	padding: 50px;
}

#register {
	background: linear-gradient(0deg, #006A7A, #006A7A) no-repeat right / 0 var(--bg-h);
	transition: background-size 250ms;
	--bg-h: 100%;
	color: #006A7A;
	font-family: Bahnschrift;
	font-weight: bold;
	margin-top: 30px;
}

	#register:where(:hover, :focus-visible) {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: #FFCC48;
	}

.form-check {
	padding-right: 0px;
}

.faded-text {
	color: #707070;
}

	.faded-text :hover {
		color: #006A7A;
	}

.faded-link {
	color: #707070;
	text-decoration: underline;
	font-weight: bold;
}

input::-webkit-file-upload-button {
	background-color: white;
	color: #006A7A;
	border: 2px solid #006A7A;
	border-radius: 4px;
	height: 50px;
	width: 120px;
}

	input::-webkit-file-upload-button:hover {
		background-color: #006A7A;
		color: #FFCC48;
		border: 2px solid #006A7A;
		cursor: pointer;
	}

a.user {
	color: #006A7A;
	text-decoration: none;
}

	a.user:hover {
		text-decoration: underline;
		color: #FFCC48;
	}

.profile-head {
	transform: translateY(5rem)
}

.cover {
	background-image: url(/images/profileBanner.png);
	background-size: cover;
	background-repeat: no-repeat
}

body.custom {
	background: #006A7A;
	min-height: 100vh;
	overflow-x: hidden
}

.custom-text {
	font-family: Bahnschrift;
	color: #006A7A;
}

svg.edit-delete {
	width: 30px;
	height: 30px;
	padding: 5px;
}

	svg.edit-delete :hover {
		fill: #FFCC48;
		cursor: pointer;
	}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button.heart {
	background-color: white;
	border: none;
}

.bi-heart-fill:hover {
	fill: #408780;
}

.terms-secondary-heading {
	margin-bottom: 15px;
	text-indent: 20px;
	font-family: Bahnschrift;
	font-weight: bold;
}

.font-weight-heading {
	font-weight: bold;
}

.terms-normal-text {
	font-family: Bahnschrift;
	font-size: 16px;
	text-indent: 20px;
	line-height: 25px;
}

.terms-column-text {
	font-family: Bahnschrift;
	font-size: 16px;
	line-height: 25px;
}

a.seen-link {
	color: darkgrey;
	text-decoration: none;
	padding-bottom: 5px;
}

