<body class="bg-orange">
	<div class="container pb-5">
		<div class="row justify-content-center lower">
			<div class="col-md-6 register-form-bg rounded">
				@Html.ActionLink("Download", "DownloadFile", new { fileName = "document.pdf" })
			</div>
		</div>
	</div>
</body>